@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div editable="rich">
        <div editable="rich">
            <p class="lead ">to Atricle Management System, where storing and accessing the article content is made effortlessly. Create, edit and track the article deatails and also manage the article content.</p>
        </div>
        <div>
            
        </div>
        <div class="overflow-hidden" style="max-height: 57vh;">
            <img class="img-fluid border rounded-3 shadow-lg mb-4" src="~/images/hero-master.jpg">
        </div>
        <div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center">
            
        </div>
        
    </div>
</div>

